<h1>ngx-monaco-editor example</h1>
<button type="button" (click)="switchLanguage('html')">html</button>
<button type="button" (click)="switchLanguage('css')">css</button>
<button type="button" (click)="switchLanguage('javascript')">javascript</button>
{{code['javascript']}}
<ngx-monaco-editor
  [options]="editorOptions"
  [(ngModel)]="code['html']"
  (init)="editorInit($event)"
></ngx-monaco-editor>